.bluee {
  color: #006ca0c9;
}
.comment {
  order: -1;
  position: relative;
}
.delete {
  z-index: 2;
  color: rgb(241, 11, 11);
  position: absolute;
  left: 120px;
  top: 0;
  display: inline;
  background-color: transparent;
  transition: 0.3s ease;
}
.delete:hover {
  color: rgb(187, 0, 0);
}
